
.table-data-kurum {
    position: absolute; /* Tabloyu belirli bir konumda tutar */
    top: 175px; /* Yukarıdan 20px boşluk */
    left: 200px; /* Soldan 20px boşluk */
  }
  
  .table-data-kurum {
    width: 40%;
  }
  .table-data-kurum th, .table-data-kurum td {
    padding: 10px; /* Hücre içi boşluk */
  }
  
  .table-data-kurum tr {
    line-height: 0.1em; /* Satır yüksekliği */
  }
  
  /* Satır yüksekliğini manuel olarak ayarlama */
  .table-data-kurum tr.custom-height {
    height: 50px; /* Satır yüksekliği */
  }
  